
html, body {
    height: 100%;
}

.body{
    background-color: rgb(132, 149, 206);
    display: block;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.ampligram_list{
    display: inline-block;
    margin: auto;
    margin-bottom: 30px;
    
}
.ampligram{
    display: block;
    margin:30px;
   
}

.image_show{
    width: 25%;
    height: 25%;
}

h1{
    padding-top: 30px;
}

.input-text {
    width: 60%;
}